body {
  font-family: Helvetica, sans-serif;
}

#app {
	width: 60%;
	margin: auto;
}

form {
	margin: 20px 0px 20px 0px;
	width: 50%;
}

hr {
	border: 1px solid rgba(0,0,0,0.1)
}

.todo-list{
	width: 50%;
}

.todo-list .list-item{
	font-size: 20px;
}


.list-item {
	padding: 10px 0px 10px 0px;
}

.done{
	opacity: 0.4;
}

.done .item-content {
	text-decoration: line-through;
}

.actions {
	font-size: 15px;
	line-height: 22px;
	height: 22px;
	cursor: pointer;
}

.action {
	color: blue;
}

.action.remove {
	color: red;
}
